/* ==============
   Style de base
   ============== */

html {
    color: #222;
    background-color: #eee;
}
body {
  display: flex; /* or inline-flex */
  margin: 0;

}
.ecran {
  background-color: #fff;
  border: 1px solid red;
  flex: 1 0;
  height: 100vh;
  Bottom: 0;
  position: relative;
}
.ecran2 {
  border-color: blue;


}
.plus {
	font-size: 15vmin;
	top: 0vh;
	left: calc(50% - 5vmin);

	position: absolute;

}
.personnage {
	width: 11.1111111%;
	height: 20%;
	border: 1px solid green;
	position: absolute;
	bottom: 0;
	left: 44.4444444%;
}
.personnage img{
	border: 1px solid green;
	object-fit: contain;
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: auto;


}
